:root {
  /* --line-stroke-width: 7px; */
  --ellipse-stroke-width: 5px;
  /* --cell-size: calc(var(--ellipse-stroke-width) * 4); */
  --board-color: #e6e6e6;
}

body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  /* justify-content: space-around; */
}

#board {
  position: relative;
  width: 100vw;
  max-width: min(100vw, 600px);
  aspect-ratio: 1;
  width: 100%;
}

#game-board-svg {
  /* background-image: url("./assets/board.svg"); */
  position: absolute;
  z-index: 6;
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 100%;
  width: 100%; */
}

/* .rect-2, .rect-3 {
  position: absolute;
}

.rect-1 {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
} */

button {
  /* position: absolute; */
  background: green;
  /* border: 1.3vw solid #e6e6e620; */
  /* border: 1.3vw solid green; */
  /* border-radius: 50%; */
  height: 10px;
  width: 10px;
  /* transform: translate(-50%, -50%); */
  /* width: 100%; */
  /* aspect-ratio: 1; */
  padding: 0;
  margin: 0;
  z-index: 1;
}



/* button[dim="true"]:before {
  opacity: 0.2;
  scale: 0.8;
} */

image {
  border-radius: 50%;
}

image[player="0"] {
  /* Add outline to distinguish if both players has same avatar */
  outline: calc(var(--ellipse-stroke-width)) solid black;
}

image[player="1"] {
  /* Add outline to distinguish if both players has same avatar */
  outline: calc(var(--ellipse-stroke-width)) solid white;
}


image[clickable="1"] {
  cursor: pointer;
}

image[clickable="0"] {
  /* Disable the pointer events on the image */
  pointer-events: none;
}

image[remove="1"] {
  /* Add outline to distinguish if both players has same avatar */
  outline: var(--ellipse-stroke-width) solid red;
}

image[is-part-of-mill="true"] {
  /* Add outline to distinguish if both players has same avatar */
  outline: var(--ellipse-stroke-width) solid green;
}

/* image[clickable="1"] {
  outline: var(--ellipse-stroke-width) solid yellow;
} */


.svg-rect {
  stroke: var(--board-color);
  fill: rgba(0, 0, 0, 0);
}

svg[your-turn="false"] {
  opacity: 0.5;
  pointer-events: none;
}

svg[your-turn="true"] {
  opacity: 1;
  pointer-events: auto;
}


/* @media (hover: hover) {
  button:not([disabled]):after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -10%;
    width: 20%;
    border-radius: 50%;
    background: #e6e6e6;
    aspect-ratio: 1;
    transition: all 0.15s ease-in-out;
    scale: 0;
  }

  button:hover:after {
    scale: 1;
  }
} */

ul {
  list-style: none;
  font-size: min(14px, 3vw);
  padding: 0;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

li {
  opacity: 0.5;
  line-height: 1.7;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

li .player-info {
  display: flex;
  flex-direction: column;
}

li .remaining-mills {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

li img {
  width: 20vw;
  height: 20vw;
  margin-top: 6.4vw;
  margin-bottom: 2.1vw;
}

li[your-turn="true"] {
  opacity: 1;
}

/* li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 13vw;
  height: 13vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

/* li[player="0"]:before {
  background-image: url(./assets/x.svg);
}

li[player="1"]:before {
  background-image: url(./assets/o.svg);
} */